# FastAPI 웹 서버
fastapi==0.115.6
uvicorn==0.33.0

# 템플릿 엔진
jinja2==3.1.5

# LangChain 메인 패키지
langchain==0.2.17

# LangChain 관련 서브 패키지
langchain-core==0.2.43
langchain-openai==0.1.25
langchain-community==0.2.19
langchain-milvus
langchain

# FAISS (※ 주의: 1.8.0은 pip 설치 불가. PyPI 기준 1.7.2까지 지원)
faiss-gpu==1.7.2

# 데이터 처리 
numpy==1.24.4
pandas==2.0.3
openpyxl==3.1.5        # ← 여기에 추가

# 환경 변수
python-dotenv==1.0.1

# 기타 유틸
redis==5.2.1
requests==2.32.3
pydantic==2.10.5

pymilvus
langdetect
urllib3
openai